<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="delete-link.css">
	 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Delete Link</title>
</head>

<body>
	<h1>DELETE LINK</h1>
    <div class="input-container">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">go/</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</body>

</html>