<!DOCTYPE html>
<html>

<head>
	<script src="https://use.fontawesome.com/a317ab7a8e.js"></script>
    <link rel="stylesheet" type="text/css" href="home.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Home</title>
</head>

<body>
	<h1>WELCOME, USERNAME</h1>
  <div class="cards-container">
    <div class="card" style="width: 14rem;">
    	<div class="container">
	        <i class="fa fa-plus fa-5x" aria-hidden="true"></i>
	        <div class="card-body">
	            <p class="card-text">ADD LINK</p>
	        </div>
      </div>
    </div>
     <div class="card" style="width: 14rem;">
    	<div class="container">
	        <i class="fa fa-pencil-square-o fa-5x" aria-hidden="true"></i>
	        <div class="card-body">
	            <p class="card-text">EDIT LINK</p>
	        </div>
      </div>
    </div>
     <div class="card" style="width: 14rem;">
    	<div class="container">
	        <i class="fa fa-trash fa-5x" aria-hidden="true"></i>
	        <div class="card-body">
	            <p class="card-text">DELETE LINK</p>
	        </div>
      </div>
    </div>
    <div class="card" style="width: 14rem;">
    	<div class="container">
	        <i class="fa fa-eye fa-5x" aria-hidden="true"></i>
	        <div class="card-body">
	            <p class="card-text">VIEW ALL LINKS</p>
	        </div>
      </div>
    </div>
  </div>
</body>

</html>