{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/delete-link.css'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Delete Link</title>
</head>

<body>
    <div class="page-container">
        <nav class="navbar navbar-expand-lg navbar-custom ">
            <img class="aslogo" src="{% static 'img/aslogo.png' %}" alt="Abnormal Security" height="50" width="50" class="brand_img"></img>
            <a class="navbar-brand" href="{% url 'home' %}"> goLinks App</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'home' %}"> Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'add' %}"> Add <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'edit' %}"> Edit <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'delete' %}"> Delete <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'links' %}"> View goLinks </a>
                    </li>
                </ul>
            </div>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        {% if user.is_authenticated %}
                        <button type="button" class="btn-custom">
                            <a class="nav-link" href="javascript:{document.getElementById('logout').submit()}">Logout <span class="sr-only">(current)</span></a>
                        </button>
                        <form action="{% url 'logout' %}" method="POST" id="logout">
                            {% csrf_token %}
                            <input type="hidden">
                        </form>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </nav>
        <h1>DELETE LINK</h1>
        <hr>
        <div class="form-wrapper">
            <form action="{% url 'delete' %}" method="POST">
                {% include 'misc/alerts.html' %}
                {% csrf_token %}
                <input type="hidden" name="username" value="{{ user.username }}">
                <div class="form-group">
                    <label for="golink">go/Link</label>
                    <input type="text" name="golink" class="form-control" id="goLink" placeholder="enter go/Link">
                </div>
                <button type="submit" name="delete-link" class="btn btn-primary">Delete</button>
            </form>
        </div>
    </div>
</body>

</html>