body{
	height: 100vh;
	text-align: center;
}

nav{
	width: 100vw;
	margin-bottom: 5em;
}

.page-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 60%;               
  background-color:black;
  height: 1px;
}

nav{
	width: 100vw;
	margin-bottom: 5em;
}

.navbar-custom { 
    background-color: #202fa3; 
    color: white;
}

.navbar-custom .navbar-brand {
    color: white;
    margin-left: 1em;
}

.aslogo{
	 color: #147bfc;
}

.btn-custom{
	background-color: #0a4af5;
	border: none;
	border-radius: 10%;
	padding-left: 1em;
	padding-right: 1em;
}

.nav-link{
	color: white;
}

h1{
	text-align: center;
}

.golinkcard{
	width: 28em;
}

.links-container{
	margin-top: 5em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.row{
	margin-top: .5em;
}